
<p>
  <%= link_to 'View Locations', locations_path %>
  <% @locations.each do |location| %>
  <%= render 'single_location', location: location %>
  <% end %>
</p>
<p>
  <%= link_to 'Events', events_path %>
  <% @events.each do |event| %>
  <%= render 'single_event', event: event %>
  <% end %>
</p>
